.about-education {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-education .heading-sec__main {
  text-align: start;
}

.about-education .heading-sec__main::after {
  display: none;
}

.about-education__head {
  display: flex;
  justify-content: space-between;
}

.about-education__title {
  max-width: 850px;
  margin-bottom: 8px;
}

.about-education__education-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-education__item {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .about-education {
    border-bottom: 2px solid var(--color-blue-700);
  }

  .about-education__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .about-education__text-container {
    max-width: 100%;
  }
}