.skill__card {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 148px;
  padding: 1rem 1rem;
  border: 2px solid var(--light-blue-100);
  border-radius: var(--border-rs);
  background-color: var(--white);
}

.skill__card-header {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.7;
  color: var(--light-blue-100);
}

.skill__card-icon svg {
  width: 26px;
  height: 26px;
  color: var(--deep-black);
}

.skill__text {
  margin-right: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  color: var(--light-grey);
}

@media screen and (max-width: 600px) {
  .skill__card {
    justify-content: center;
    width: 100%;
    min-width: initial;
  }
}
