.sidebar {
  position: relative;
  max-width: 20rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  background-color: red;
  overflow: hidden;
  border: 2px solid lightgray;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sidebar-user {
  margin-top: auto;
}

.sidebar-menu:first-child {
  margin-bottom: 29rem;
}

.sidebar-menu__item {
  padding: 1.3rem 0;
}

.sidebar-menu__link {
  display: flex;
  gap: 1rem;
}

.sidebar-menu__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: purple;
}

.sidebar-menu__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  color: lightgray;
}

.logo {
  display: flex;
  gap: 1rem;
}

.logo__text {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4;
  color: blue;
}
.logo__image {
  width: 36px;
  height: 36px;
}

.sidebar__toggle-btn {
  position: absolute;
  content: "";
  top: 26px;
  right: -7px;
}

.toggle-btn {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: grey;
}