.about-capabilities {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 2px solid var(--color-blue-700);
  border-bottom: 2px solid var(--color-blue-700);
}

.about-capabilities .heading-sec__main {
  text-align: start;
}

.about-capabilities .heading-sec__main::after {
  display: none;
}

.about-capabilities__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

.about-capabilities__text-container {
  max-width: 80%;
}

.about-capabilities__text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

.about-capabilites__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .about-capabilities {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .about-capabilities__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .about-capabilities__text-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .about-capabilities {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .about-capabilities .heading-sec__main {
    font-size: 43px;
    line-height: 1;
    letter-spacing: -2px;
  }
}