.about-capabilities {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-capabilities .heading-sec__main {
  text-align: start;
}

.about-capabilities .heading-sec__main::after {
  display: none;
}

.about-capabilities__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

.about-capabilities__text-container {
  max-width: 80%;
}

.about-capabilities__text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-blue-700);
}

.about-capabilites__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}