.testimonial-card {
  position: relative;
  z-index: 2;
  min-width: 58rem;
  border: 7px solid var(--light-blue-100);;
  border-radius: 45px;
}

.testimonial-card__top-left {
  position: absolute;
  content: "";
  top: -8px;
  left: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 8rem;
  background-color: var(--page-bg);
}

.testimonial-card__bottom-right {
  position: absolute;
  content: "";
  bottom: -7px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 8rem;
  background-color: var(--page-bg);
}

.testimonial-card__top-left svg,
.testimonial-card__bottom-right svg {
  font-size: 6rem;
  color: var(--light-blue-100);
}

.testimonial-card__paragraph {
  position: relative;
  z-index: 3;
  padding: 7.4rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  color: var(--light-blue-100);;
}

.testimonial-card__client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
  text-align: left;
}

.testimonial-card__client-picture {
  max-width: 12rem;
  border-radius: 50%;
  background-color: var(--light-blue-100);;
}

.testimonial-card__client-picture img {
  border-radius: 50%
}

.testimonial-card__client-details-title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--light-blue-100);;
}

.testimonial-card__client-details-info {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--light-blue-100);;
}

@media only screen and (max-width: 86.25em) {
  .testimonial-card {
    min-width: fit-content;
  }
}

