.testimonial-card {
  position: relative;
  z-index: 2;
  min-width: 58rem;
  /* background-color: #fff; */
  border: 7px solid #0062b9;
  border-radius: 45px;
}

.testimonial-card::before {
  position: absolute;
  content: "";
  top: -35px;
  left: -8px;
  width: 88px;
  height: 89px;
  /* background-color: #fff; */
}

.testimonial-card::after {
  position: absolute;
  content: "";
  bottom: -8px;
  right: -8px;
  width: 88px;
  height: 89px;
  background-color: transparent;
}

.testimonial-card__paragraph {
  position: relative;
  z-index: 3;
  padding: 7.4rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  color: #0062b9;
}

.testimonial-card__client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
  text-align: left;
}

.testimonial-card__client-picture {
  max-width: 12rem;
  border-radius: 50%;
  background-color: #0062b9;
}

.testimonial-card__client-picture img {
  border-radius: 50%
}

.testimonial-card__client-details-title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #0062b9;
}

.testimonial-card__client-details-info {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #0062b9;
}
