.projects {
  padding: 12rem 0;
}

.projects__filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 8rem;
  background-color: var(--color-blue-700);
  border-radius: var(--border-radius-s);
}

.projects__filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-blue-700);
}

@media screen and (max-width: 1088px) {
  .projects__filter {
    display: none;
  }
}
