.project__image {
  position: relative;
  padding-top: 57px;
  padding-bottom: 57px;
  padding-left: 57px;
  padding-right: 57px;
  background-color: var(--color-blue-700);
  border-radius: var(--border-radius-s);
}

.project__img {
  border-radius: var(--border-radius-s);
}

.project__details{
  height: 450px;
  padding: 6rem;
  background-color: tomato;
  border-radius: var(--border-radius-s);
}

/* @media (max-width: 768px) {

} */