.project {
  max-width: 20rem;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.project__img {
  border-radius: 0.625rem;
}

.project__title {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--project-card-text);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}