.project {
  padding-top: 6rem;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project__img {
  border-radius: 0.625rem;
}

.project__title {
  padding: 0.9375rem 1.25rem 1.5625rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--project-card-text);
}