.scroll-to {
  position: fixed;
  z-index: 100;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--light-blue-100);
  background-color: var(--white);
  border: 2px solid var(--light-blue-100);
  border-radius: 50%;
  opacity: 0;
}