.showcasing {
  padding-bottom: 12rem;
}

.showcasing__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 560px;
  border-radius: var(--border-radius-s);
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
}

@media screen and (max-width: 768px) {
  .showcasing {
    padding-bottom: 8rem;
  }

  .showcasing__wrapper {
    padding: 1rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 36rem) {
  .showcasing {
    padding-bottom: 6rem;
  }

  .showcasing__wrapper {
    height: 236px;
  }
}

@media screen and (max-width: 375px) {
  .showcasing {
    padding-bottom: 4rem;
  }
}
