.showcasing {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.showcasing__wrapper {
  border-radius: var(--border-radius-s);
  background: var(--gradient), var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .showcasing {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .showcasing {
    margin-bottom: 3rem;
  }
}