.showcasing {
  /* padding-bottom: 12rem; */
  margin-bottom: 6rem;
}

.showcasing__wrapper {
  object-fit: contain;
  border-radius: var(--border-radius-s);
  background: var(--gradient), var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .showcasing {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .showcasing {
    margin-bottom: 2rem;
  }
}
