.btn {
  display: flex;
  max-height: 57px;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  border-radius: var(--border-rs);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--bg {
  padding: 1.5rem 8rem;
  color: var(--light-blue-100);
  background-color: var(--white);
}

.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}

.btn--med-second {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

.btn--theme {
  max-width: 15rem;
  line-height: 1.8;
  background: var(--light-blue-100);;
  color: #fff;
}

.btn--theme-inv {
  padding: calc(1.5rem - 2px) calc(5rem - 2px);
  color: var(--light-blue-100);;
  background: #fff;
  border: 2px solid var(--light-blue-100);;
  box-shadow: none;
}