/* .testimonials {
  padding-bottom: 12rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding-bottom: 8rem;
  }
}

@media (max-width: 36rem) {
  .testimonials {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 375px) {
  .testimonials {
    padding-bottom: 4rem;
  }
} */
