.conic {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.conic::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  /* background-color: #1a232a; */
  background-color: var(--color-blue-300);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    transparent,
    rgba(168, 239, 255, 1),
    transparent 30%
  );
  animation: rotate 4s linear infinite;
}

.conic::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  /* background: #000; */
  background: var(--color-blue-700);
  border-radius: 5px;
}

.conic-demo::after {
  animation: opacityChange 5s infinite linear;
}

@media screen and (max-width: 675px) {
  .conic {
    height: auto;
    padding: 0;
  }

  .conic::before {
    display: none;
  }

  .conic::after {
    display: none;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
