.faq__button {
  display: flex;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.faq__button svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 575px) {
  .faq__button svg {
    width: 1rem;
    height: 1rem;
  }
}