.about-experience {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: plum;
}

.about-experience .heading-sec__main::after {
  display: none;
}

.about-experience--dark {
  background-color: paleturquoise;
}

.about-experience__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}