.about-experience {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--color-blue-700);
}

.about-experiences .heading-sec__main {
  text-align: start;
}

.about-experience .heading-sec__main::after {
  display: none;
}

.about-experience--dark {
  background-color: paleturquoise;
}

.about-experience__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

.about-experience__experience-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-experience__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.about-experience__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--color-blue-700);
}

.about-experience__date {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

.about-experience__item-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

.about-experience__name {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .about-experience__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}