.project-card {
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-rs);
}

.project-card__item {
  min-width: 238px;
  max-width: 338px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border: 2px solid var(--light-blue-100);
  border-radius: var(--border-rs);
}

.project-card__image {
  transition: transform .8s ease-in-out;
  border-radius: var(--border-rs);
}

.project-card__image:hover {
  transform: scale(1.109);
}

.project-card__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--project-card-text);
  justify-content: center;
  overflow: hidden;
}

.project-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 688px) {
  .project-card {
    background-color: transparent;
    box-shadow: none;
  }
}

