.project-card__title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--light-blue-100);
}

.project-card__item {
  min-width: 238px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.6rem;
  border-radius: var(--border-rs);
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-rs);
}

.project-card__image {
  border-radius: var(--border-rs);
}

.project-card__skills .skill__text {
  max-height: 24px;
  margin-right: 0;
}


.project-card__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
  margin-top: 2rem;
}

@media screen and (max-width: 688px) {
  .project-card {
    background-color: transparent;
    box-shadow: none;
  }
}

