.project-card__item {
  display: flex;
  gap: 48px;
  height: 520px;
  padding: 24px;
  border: 1px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  box-sizing: border-box;
}

.project-card__item:hover {
  box-shadow: var(--box-shadow);
}

.project-card__image {
  width: 50%;
  overflow: hidden;
  max-height: 527px;
  padding-top: 32px;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--color-blue-700);
  border: 1px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
}

.project-card__info {
  width: 50%;
  padding-top: 36px;
}

.project-card__info-title {
  margin-bottom: 8px;
  font-family: var(--font-headings);
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  color: var(--color-blue-700);
}

.project-card__info-desc {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

.project-card__info-box {
  margin-bottom: 24px;
}

.project-card__info-box h4 {
  margin-bottom: 8px;
  font-family: var(--font-headings);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-blue-700);
}

.project-card__info-box-table-row {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.project-card__info-box-table-row:first-child {
  border-top: 1px solid var(--color-blue-700);
}

.project-card__info-box-table-row:last-child {
  border-top: 1px solid var(--color-blue-700);
  border-bottom: 1px solid var(--color-blue-700);
}

.project-card__info-box-table-row span {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-blue-700);
}

.project-card__tag-box {
  position: absolute;
  top: 16px;
  left: 16px;
}

.project-card__img {
  border-radius: var(--border-radius-s);
}

.project-card__tools {
  display: flex;
  align-items: center;
}

.project-card__skills {
  display: flex;
  flex-direction: column;
  max-width: 348px;
}

.project-card__links {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.project-card__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-blue-700);
  transition: all 0.5s ease-in-out;
}

.project-card__link::before {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-blue-700);
}

.project-card__link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.project-card__link:hover::before {
  display: none;
}

.project-card__tools-title {
  margin-bottom: 12px;
  font-family: var(--font-headings);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-blue-700);
}

.project-card__tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 1274px) {
  .project-card__skills {
    max-width: 248px;
  }
}

@media screen and (max-width: 1024px) {
  .project-card {
    background-color: transparent;
    box-shadow: none;
  }

  .project-card__item {
    min-width: initial;
    flex-direction: column;
    gap: 36px;
  }

  .project-card__image {
    width: initial;
  }

  .project-card__info {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-card__info-title {
    font-size: 24px;
    line-height: 30px;
  }

  .project-card__info-desc {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
  }

  .project-card__info-box {
    margin-bottom: 18px;
  }

  .projcet-card__info-box-table-row {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .projcet-card__info-box-table-row:first-child {
    border-top: 1px solid var(--color-blue-700);
  }

  .projcet-card__info-box-table-row:last-child {
    border-top: 1px solid var(--color-blue-700);
    border-bottom: none;
  }

  .project-card__tools {
    align-items: flex-end;
  }

  .project-card__skills {
    max-width: 100%;
  }

  .project-card__tools-list {
    flex-wrap: nowrap;
  }

  .project-card__links {
    flex-direction: row;
  }

  .project-card__link {
    display: flex;
    white-space: nowrap;
  }
}

@media screen and (max-width: 893px) {
  .project-card__tools-list {
    flex-wrap: wrap;
  }

  .project-card__image {
    padding: 0;
    background-color: unset;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .project-card__item {
    gap: 32px;
    padding: 12px;
  }

  .project-card__img {
    min-height: unset;
    height: auto;
  }

  .project-card__skills {
    max-width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .project-card__item {
    padding: 0;
  }

  .project-card__info {
    width: initial;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 515px) {
  .project-card__item {
    gap: 24px;
    border: none;
  }

  .project-card__tools {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .project-card__links {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .project-card__item {
    gap: 16px;
  }

  .project-card__image {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .project-card__info {
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-card__info-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 30px;
  }

  .project-card__info-desc {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 22px;
  }

  .project-card__tools-list {
    gap: 5px;
  }

  .project-card__skills {
    max-width: 55%;
  }
}