.faq__answer {
  display: none;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.faq__answer.open {
  display: block;
  padding: 20px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  .faq__answer {
    font-size: 14px;
    line-height: 18px;
  }
}