.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.not-found__image {
  display: block;
  width: 850px;
  height: 550px;
  object-fit: contain;
}

.not-found__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-blue-700);
}

.not-found__btn {
  max-width: 20rem;
  color: var(--color-blue-700);
  border-bottom: 2px solid var(--color-blue-700);
}

@media only screen and (max-width: 964px) {
  .not-found__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
