.services {
  padding-bottom: 12rem;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 3rem;
}

@media (max-width: 1024px) {
  .services__list {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 768px) {
  .services {
    padding-bottom: 8rem;
  }
}

@media (max-width: 36rem) {
  .services {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 375px) {
  .services {
    padding-bottom: 4rem;
  }
}
