.services {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
}

@media (max-width: 1024px) {
  .services__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  /* .services {
    padding-top: 4px;
    padding-bottom: 4rem;
  } */

  .services__list {
    grid-template-columns: 1fr;
  }
}