.services {
  padding-bottom: 12rem;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(288px, 1fr));
  gap: 3rem;
}

@media (max-width: 1024px) {
  .services {
    padding: 8rem 0;
  }
}

@media (max-width: 1870px) {
  .services__list {
    grid-template-columns: auto;
  }
}