/* promo */
.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  background: linear-gradient(to right, rgba(0,98,185,0.8), rgba(0,98,185,0.8)),url('../../assets/svg/common-bg.svg');
  /* background-position: center;
  background-color: var(--promo-bg);
  background-image: url('../../img/promo-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center; */
}

.promo__wrapper {
  position: relative;
  max-width: 80rem;
  max-height: 120rem;
  min-height: 80vh;
  text-align: center;
  color: var(--promo-text);
}

.promo__text-wrapper {
  max-width: 100%;
}

.promo__title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 11px;
  text-align: center;
  color: var(--page-bg);
}

.promo__text {
  max-width: 58rem;
  margin: 3rem auto 0 auto;
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  color: var(--page-bg);
}

.promo__image-wrapper {
  position: absolute;
  top: 50%;
  left: -32%;
  max-width: 23rem;
  padding: 0.3125rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.promo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
  margin-top: 5rem;
}

.promo__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1286px) {
  .promo {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 6rem;
    row-gap: 3.125rem;
  }

  .promo__wrapper {
    flex-direction: column;
    row-gap: 4.125rem;
  }

  .promo__image-wrapper {
    border-radius: initial;
  }

  .promo__image {
    border-radius: initial;
  }
}


/*================= Media Query ============= (Small Devices)*/
@media screen and (max-width: 700px) {
  .promo__title strong {
    font-size: 2.75rem;
  }
}
