/* promo */

.promo {
  position: relative;
  height: 100vh;
  max-height: 120rem;
  padding-top: 12rem;
  padding-bottom: 6rem;
  text-align: center;
  color: var(--promo-text);
  background-color: var(--promo-bg);
  background-image: url('../../img/promo-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__text-wrapper {
  max-width: 100%;
}

.promo__title {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.promo__title strong {
  font-size: 3.75rem;
  font-weight: 700;
}

.promo__title em {
  font-style: normal;
  color: var(--accent);
}

.promo__text {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.3;
}

.promo__text p + p {
  margin-top: 0.5em;
}

.promo__image-wrapper {
  padding: 0.3125rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.promo__image {
  aspect-ratio: 2 / 3;
  border-radius: 50%;
}

.promo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
}

@media (max-width: 1286px) {
  .promo {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 6rem;
    row-gap: 3.125rem;
  }

  .promo__wrapper {
    flex-direction: column;
    row-gap: 4.125rem;
  }

  .promo__image-wrapper {
    border-radius: initial;
  }

  .promo__image {
    border-radius: initial;
  }
}


/*================= Media Query ============= (Small Devices)*/
@media screen and (max-width: 700px) {
  .promo__title strong {
    font-size: 2.75rem;
  }
}
