/* About */
.about {
  position: relative;
}

.about__section {
  margin-top: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  box-shadow: var(--box-shadow);
}

.about__bottom {
  display: flex;
  column-gap: 10%;
}

.about__left {
  width: 50%;
}

.about__right {
  width: 40%;
  display: flex;
  padding: 5px;
  border: 5px solid var(--title-1);
  border-radius: .3rem;
  box-shadow: var(--box-shadow);
}

.about__title.title-1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  text-align: start;
}

.about__description {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
}

.about__link button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid var(--title-1);
  color: var(--title-1);
}

.about__link button:hover {
  color: var(--white);
  background-color: var(--title-1);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.about__image {
  flex-basis: 100%;
}

/* skills */

.skills__section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  box-shadow: var(--box-shadow);
}

.skills__title.title-1 {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 700;
  text-align: start;
}

.skills__bottom {
  display: flex;
  column-gap: 3rem;
  min-height: 520px;
}

.skills__left {
  width: 45%;
}

.skills__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  width: 55%;
}

.skills__image {
  display: block;
  height: 500px;
}

.skills__elements {
  min-width: 45%;
  border: 3px solid var(--skills-elements-border);
}

.skills__title-wrapper {
  padding: 10px;
  border-bottom: 3px solid var(--skills-elements-border);
}

.skills__title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.skills__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 88%;
  padding: 10px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1.2;
}

.skills__items span:not(:last-child) {
  margin-right: 10px;
}