:root {
  /* Colors */
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;
  --purple-hover: #7176ee;

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-bg: var(--black);
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* Border-radius */
  --border-rs: 5px;

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --accent: var(--purple);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0,98, 185, 0.8));
  --skills-elements-border: 1px solid var(--black-border);
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  --gradient: linear-gradient(to right, rgb(18 21 24 / 80%), rgb(26 27 29 / 80%));
  --skills-elements-border: 1px solid var(--white);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

/* General */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 92%;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
} 

/* Project page details */

.project-details {
  padding: 12rem 0;
}

.project-detalis__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-rs);
}

.project-details__desc {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.project-details__content {
  max-width: 90rem;
  margin: auto;
  padding: 8rem 0;
}

.project-detail__overview {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.project-detail__text-overview {
  font-size: 1.8rem;
  line-height: 1.7;
  color: grey;
}

.project-detail__text-overview:not(:last-child) {
  margin-bottom: 2rem
}

.project-detail__tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 7rem;
}

.project-details__links {
  display: flex;
  gap: 6rem;
}

.project-details__btn {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}
