@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
  /* Colors */
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;
  --purple-hover: #67688e;

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-bg: var(--black);
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --accent: var(--purple);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  --skills-elements-border: 1px solid var(--black-border);
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  --skills-elements-border: 1px solid var(--white);
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;
  scroll-behavior: smooth;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

/* General */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.home-page {
  padding-top: 0;
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

/* home-skills*/
.home-skills {
  min-height: 600px;
}

.home-skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-left: 0;
  padding-right: 0;
}

.home-skills__left {
  display: grid;
  grid-template-columns: 47% 48%;
  gap: 5%;
}

.home-skill__card {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  font-size: 1.325rem;
  text-align: center;
  border: var(--skills-elements-border);
  border-radius: 1rem;
}

.home-skill__card-icon svg {
  width: 5rem;
  height: 5rem;
}

.home-skills__right h4 {
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 900;
}

.home-skills__right p {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.235rem;
  font-family: inherit;
  font-weight: 500;
}

.home-skills__right h4 span {
  color: purple;
}

/* about */
.about {
  position: relative;
  padding-top: 45px;
  padding-bottom: 3.5rem;
}

.about__descr {
  max-width: 100%;
  margin-bottom: 3.4rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

/* about-section */
.about-section {
  position: relative;
  padding-bottom: 3.5rem;
}

.about-section__section {
  margin-top: 3.125rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 3.125rem;
  box-shadow: var(--box-shadow);
}

.about-section__bottom {
  display: flex;
  column-gap: 10%;
}

.about-section__left {
  width: 60%;
}

.about-section__right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--title-1);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
}

.about-section__title.title-1 {
  margin-bottom: 1.25rem;
  font-size: 2.8125rem;
  font-weight: 700;
  text-align: start;
}

.about-section__description {
  margin-bottom: 2.8125rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: inherit;
}

.about-section__link button {
  display: block;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  border: 1px solid var(--title-1);
  color: var(--title-1);
}

.about-section__link button:hover {
  color: var(--white);
  background-color: var(--title-1);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/* Projects  */

.projects {
  overflow: hidden;
}

.projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project-details__desc {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

/* Content list */

.content-list-wrapper {
  margin-bottom: 45px;
  padding: 75px;
  box-shadow: var(--box-shadow);
}

.content-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 40px;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 76%;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  width: 50%;
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 0.5em;
}

.contacts-map {
  display: flex;
  padding: 75px;
  margin-bottom: 3rem;
  background-color: transparent;
  box-shadow: var(--box-shadow);
}

.keep-in-touch {
  padding-bottom: 3rem;
}

.keep-in-touch .contacts__container {
  display: flex;
  flex-direction: row-reverse;
}

.keep-in-touch .contacts__options {
  width: 38%;
}

.keep-in-touch form {
  width: 58%;
}

@media (max-width: 620px) {
  /* Header  */
  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  /* Nav */

  .nav-row {
    justify-content: space-between;
  }

  .dark-mode-btn {
    order: 0;
  }

  /* General */

  /* Projects */

  .project__title {
    font-size: 22px;
  }

  /* Project page */

  .project-details__desc {
    margin-bottom: 20px;
    font-size: 22px;
  }

  /* Content List */

  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }

  /* Footer */

  .footer {
    padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }

  /* Social */

  .social {
    column-gap: 20px;
  }

  .social__item {
    width: 28px;
  }
}

@media screen and (max-width: 1378px) {
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 1.2rem;
  }
}


/*================= Media Query ============= (Medium Devices)*/
@media screen and (max-width: 1024px) {
  .about-section__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-section__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 3.4rem;
  }

  .about-section__right {
    width: 80%;
  }
}


/*================= Media Query ============= (Small Devices)*/
@media screen and (max-width: 700px) {
  .container {
    padding: 0 .8rem;
  }

  .home-skills__wrapper {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}


