.faq__item {
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  box-sizing: border-box;
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.faq__question h3 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}

.faq__question:focus-visible {
  outline: 2px dashed var(--color-blue-700);
}

@media screen and (max-width: 694px) {
  .faq__item {
    padding: 1.5rem;
  }

  .faq__question h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .faq__item {
    padding: 1rem;
  }

  .faq__question {
    align-items: flex-start;
  }

  .faq__question h3 {
    max-width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .faq__question {
    align-items: flex-start;
  }

  .faq__question h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .faq__answer {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
}
