.faq__item {
  width: 100%;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  cursor: pointer;
}

.faq__question h3 {
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 580px) {
  .faq__question {
    padding: 0.8rem;
  }
}