.faq__item {
  width: 100%;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  cursor: pointer;
}

.faq__question h3 {
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 694px) {
  .faq__question {
    padding: 1rem;
    max-height: 90px;
  }

  .faq__item.open {
    max-height: 400px;
  }

  .faq__question h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 575px) {
  .faq__item {
    padding: 1rem;
    max-height: 85px;
  }

  .faq__item.open {
    max-height: 350px;
  }

  .faq__question h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .faq__item {
    max-height: 80px;
  }

  .faq__item.open {
    max-height: 300px;
  }

  .faq__question {
    align-items: flex-start;
  }

  .faq__question h3 {
    max-width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
}