.faq__item {
  width: 100%;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
  cursor: pointer;
}

.faq__question h3 {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-white);
}