.faq__item {
  width: 100%;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
  cursor: pointer;
}

.faq__question h3 {
  display: flex;
  font-size: 18px;
  line-height: 24px;

  color: var(--color-white);
}

@media screen and (max-width: 575px) {
  .faq__question h3 {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .faq__question h3 {
    font-size: 14px;
    line-height: 20px;
  }
}