/* skills*/
.skills {
  padding: 12rem 0;
  background-color: #fafafa;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.skills__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.skill__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  border-radius: 1rem;
  background: rgba(153, 153, 153, 0.2);
}

.skill__card-header {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  color: #777
}

.skill__card-icon svg {
  width: 5rem;
  height: 5rem;
}

.skills__slogan {
  margin-bottom: 3rem;
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 900;
}

.skills__text {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
  color: grey;
}

.skills__text:not(:last-child) {
  margin-bottom: 3rem;
}

.skills__slogan span {
  color: purple;
}

/*================= Media Query ============= (Medium Devices)*/
@media screen and (max-width: 1024px) {
  .skills__wrapper {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    height: auto;
    padding-top: 0;
  }

  .skills__left {
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  .skill__card {
    padding: 1.5rem 0;
    font-size: 1.8rem;
  }
}
