/* skills*/
.skills {
  padding-bottom: 6rem;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2.5rem;
  min-height: 600px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.skills__left {
  display: grid;
  grid-template-columns: 47% 48%;
  gap: 5%;
}

.skill__card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.325rem;
  text-align: center;
  border: var(--skills-elements-border);
  border-radius: 1rem;
}

.skill__card-icon svg {
  width: 5rem;
  height: 5rem;
}

.skills__right h4 {
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 900;
}

.skills__right p {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.235rem;
  font-family: inherit;
  font-weight: 500;
}

.skills__right h4 span {
  color: purple;
}

/*================= Media Query ============= (Medium Devices)*/
@media screen and (max-width: 1024px) {
  .skills__wrapper {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    height: auto;
    padding-top: 0;
  }

  .skills__left {
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  .skill__card {
    padding: 1.5rem 0;
    font-size: 1.8rem;
  }
}

/* ================= Media Query ============= (Small Devices)
@media screen and (max-width: 700px) {

} */