.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--color-blue-700);
  transition:
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.logo__link {
  text-decoration: none;
  color: inherit;
}

.logo__link:hover {
  opacity: 0.8;
}

.logo__link--second {
  color: var(--color-white);
}

@media only screen and (max-width: 26.25em) {
  .logo {
    font-size: 28px;
    line-height: 34px;
  }
}
