.faq {
  padding-top: 6rem;
  padding-bottom: 12rem;
  font-size: 2rem;
  line-height: 1.6;
  color: var(--white);
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
}

.faq__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.faq__item {
  width: 100%;
  min-width: 100%;
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 4rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--white);
  border-radius: 8px;
}

.faq__question .faq__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq__icon svg {
  width: 2em;
  height: 2em;
}

.faq__item--active .faq__icon svg {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in;
}

.faq__answer {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq .faq__item--active .faq__answer {
  max-height: initial;
}

.faq .faq__item--active {
  min-height: 200px;
  overflow-y: auto;
  font-size: 2rem;
  line-height: 1.6;
  color: var(--white);
}

.faq__answer .faq__muted {
  padding: 3rem;
}

.faq__item--active .faq__muted {
  color: var(--white);
}

@media only screen and (max-width: 37.5em) {
  .faq__question {
    padding: 2rem 2rem;
  }

  .faq__question h3 {
    font-size: 2rem;
  }

  .faq__icon svg {
    width: 1.5em;
    height: 1.5em;
  }
}
