.faq {
  margin-bottom: 6rem;
  color: var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .faq {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 575px) {
  .faq {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .faq {
    margin-bottom: 3rem;
  }
}
