.faq {
  margin-bottom: 6rem;
  color: var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .faq {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 575px) {
  .faq {
    margin-bottom: 2rem;
  }

  .faq__question {
    padding: 1.6rem 0rem;
  }

  .faq__question h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .faq__answer {
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__icon svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .faq {
    margin-bottom: 3rem;
  }

  .faq__question {
    padding: 1rem 0rem;
  }

  .faq__question h3 {
    max-width: 270px;
    font-size: 14px;
    line-height: 20px;
  }
}
