.faq {
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: var(--color-blue-700);
}

@media screen and (max-width: 768px) {
  .faq {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .faq {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}