.about {
  position: relative;
  margin-bottom: 4rem;
}

.about__wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about__left {
  width: 50%;
  max-width: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-700);
  border-radius: var(--border-radius-s);
  border-radius: 50%;
}

.about__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.about__image {
  position: relative;
  mix-blend-mode: lighten;
}

.about__greeting {
  max-width: fit-content;
  padding: 9px 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: var(--color-white);
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
}

.about__description {
  font-size: 20px;
  line-height: 26px;
  color: var(--color-blue-700);
}

@media screen and (max-width: 1044px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about__left {
    width: 100%;
  }

  .about__right {
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .about__left {
    max-width: 78%;
  }

  .about__greeting {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 3rem;
  }

  .about__wrapper {
    align-items: initial;
    gap: 1.5rem;
  }

  .about__left {
    max-width: 100%;
  }

  .about__image {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 475px) {
  .about__image {
    max-height: 380px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    margin-bottom: 2rem;
  }

  .about__image {
    max-height: 288px;
  }

  .about__greeting {
    font-size: 20px;
    line-height: 26px;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
  }
}
