.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--color-gray-600);
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__wrapper .heading-sec__main::after {
  display: none;
}

.about__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.about__image {
  mix-blend-mode: lighten;
  height: auto;
}

.about__greeting {
  max-width: fit-content;
  padding: 9px 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: var(--color-white);
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
}

.about__description {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue-700);
}

.about__description:first-of-type {
  font-size: 32px;
  line-height: 36px;
}

@media screen and (max-width: 1104px) {
  .about__right {
    width: 47%;
  }
}

@media screen and (max-width: 1044px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about__left {
    width: 100%;
  }

  .about__right {
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .about__left {
    max-width: 70%;
  }

  .about__greeting {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .about__wrapper {
    align-items: initial;
    gap: 1.5rem;
  }

  .about__left {
    max-width: 100%;
  }

  .about__image {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 475px) {
  .about__image {
    max-height: 380px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    margin-bottom: 0;
  }

  .about__image {
    max-height: 288px;
  }

  .about__greeting {
    font-size: 20px;
    line-height: 26px;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
  }
}