.showcasing-card {
  padding-top: 4rem;
  overflow: hidden;
}

.showcasing-card__aspect-ratio {
  position: relative;
  min-height: 846px;
  background-image: url('../../assets/png/laptop-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-s);
}

.showcasing-card__image {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 87%;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

@media screen and (max-width: 1268px) {
  .showcasing-card {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 968px) {
  .showcasing-card__aspect-ratio {
    background-image: none;
  }

  .showcasing-card__image {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .showcasing-card {
    padding-top: 0rem;
  }

  .showcasing-card__aspect-ratio {
    background-image: none;
  }
}

/* @media screen and (max-width: 475px) {
  .showcasing-card__image {
    min-height: 316px;
  }
} */
