.contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.contact__btn-container {
  max-width: 580px;
  margin: 0 auto;
}

.contact__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--color-white);
  border: none;
  border: 1px solid transparent;
  background-color: var(--color-blue-700);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  cursor: pointer;
}

.contact__btn:hover {
  color: var(--color-blue-700);
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-700);
}
