/* .typewriter-text {
  display: inline-block;
  border-right: 3px solid var(--color-blue-700);
  padding-right: 5px;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: var(--color-blue-700);
  }

  100% {
    border-color: transparent;
  }
}

.typewriter-text {
  animation: blink 0.75s step-end infinite;
} */
