.heading-sec__main {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  font-family: var(--font-headings);
  font-size: 101px;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-blue-700);
}

.heading-sec__main::after {
  position: absolute;
  content: '';
  top: calc(100% + 1rem);
  left: 50%;
  height: 5px;
  width: 48px;
  transform: translateX(-50%);
  border-radius: var(--border-radius-s);
  background: var(--color-blue-700);
}

.heading-sec__mb-med {
  margin-bottom: 4rem;
}

.heading-sec__sub {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--color-blue-700);
}

@media only screen and (max-width: 1348px) {
  .heading-sec__main {
    margin-bottom: 2rem;
    font-size: 76px;
  }
}

@media screen and (max-width: 768px) {
  .heading-sec__main {
    font-size: 57px;
  }

  .heading-sec__mb-med {
    margin-bottom: 0;
  }

  .heading-sec__sub {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 575px) {
  .heading-sec__main {
    font-size: 43px;
    line-height: 100%;
    text-align: start;
  }

  .heading-sec__main::after {
    display: none;
  }

  .heading-sec__sub {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  .heading-sec__main {
    font-size: 43px;
  }
}