.heading-sec__main {
  position: relative;
  display: block;
  margin-bottom: 3rem;
  font-family: var(--font-headings);
  font-size: 76px;
  font-weight: 400;
  line-height: 82px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-blue-700);
}

.heading-sec__main::after {
  position: absolute;
  content: '';
  top: calc(100% + 2rem);
  left: 50%;
  height: 5px;
  width: 48px;
  transform: translateX(-50%);
  border-radius: var(--border-radius-s);
  background: var(--color-blue-700);
}

.heading-sec__mb-med {
  margin-bottom: 4rem;
}

.heading-sec__sub {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--color-blue-700);
}

@media only screen and (max-width: 37.5em) {
  /* .heading-sec__main {
    margin-bottom: 2rem;

  } */

  .heading-sec__main::after {
    top: calc(100% + 1rem);
  }
}

@media screen and (max-width: 768px) {
  .heading-sec__main {
    font-size: 56px;
    line-height: 62px;
  }

  .heading-sec__mb-med {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 475px) {
  .heading-sec__main {
    font-size: 43px;
    line-height: 49px;
  }

  .heading-sec__sub {
    font-size: 18px;
    line-height: 24px;
  }

  .heading-sec__mb-med {
    margin-bottom: 2rem;
  }
}