.heading-sec__main {
  position: relative; 
  display: block;
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: var(--blackpure);
}

.heading-sec__main::after {
  position: absolute;
  content: '';
  top: calc(100% + 1.5rem);
  left: 50%;
  height: 5px;
  width: 3rem;
  transform: translateX(-50%);
  border-radius: var(--border-rs); 
  background: var(--light-blue-100);;
}

.heading-sec__mb-med {
  margin-bottom: 9rem; 
}

.heading-sec__sub {
  display: block;
  max-width: 80rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6; 
  text-align: center;
  color: var(--main-sub-text);;
}

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

@media only screen and (max-width: 37.5em) {
  .heading-sec__main::after {
    top: calc(100% + 1.2rem); 
  } 

  .heading-sec__sub {
    font-size: 1.8rem;
  } 
}

@media only screen and (max-width: 56.25em) {
  .heading-sec__mb-med {
    margin-bottom: 8rem; 
  } 
}
