.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(90rem, 48rem, 109%);
  height: 50rem;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius:  var(--border-rs);
}

.modal__date {
  max-width: 50rem;
  margin: 0 auto;
}

.modal__btn {
  margin-top: auto;
}

.modal p {
  margin-bottom: 3rem;
}
