.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s ease-out;
}

.backdrop:hover {
  cursor: pointer;
}

.modal {
  overflow-y: auto;
  padding-top: 50px;
  max-width: 734px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: var(--border-radius-s);
  scrollbar-width: none;
}

.modal__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: auto;
  padding: 42px 35px 35px;
  box-shadow: 0 630px 176px 0 rgba(0, 0, 0, 0.00), 0 403px 161px 0 rgba(0, 0, 0, 0.02), 0 227px 136px 0 rgba(0, 0, 0, 0.08), 0 101px 101px 0 rgba(0, 0, 0, 0.13), 0 25px 55px 0 rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-s);
  background: radial-gradient(119.77% 126.3% at 95.67% 0%, #1A6FBE 0%, #0A4B88 100%);

}

.modal:focus {
  outline: 2px solid var(--color-white);
}

.modal__header {
  text-align: center;
}

.modal__title {
  font-size: 31px;
  font-weight: 900;
  line-height: 139%;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.modal__title span {
  color: #90E8F8;
}

.modal__slogan {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--color-white);
}

.modal__text {
  max-width: 433px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-white);
}

.modal__close {
  display: flex;
  align-self: flex-end;
  font-size: 2rem;
  width: 32px;
  height: 32px;
  background: rgba(240, 243, 246, 0.07);
  border: none;
  border-radius: 900px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border-radius: var(--border-radius-s);
}

.modal__close:hover,
.modal__close:focus {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2);
}

.modal__close:focus {
  outline: 2px solid var(--color-white);
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    max-width: 550px;
  }
}

@media screen and (max-width: 580px) {

  .modal__inner {
    padding: 45px 8px 8px;
  }
}