.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  padding: 3rem;
  background-color: var(--light-blue-100);
  border-radius:  var(--border-rs);
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal__content h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--white);
}

.modal__content p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--white);
}

.modal__btn {
  margin-top: auto;
  border: 2px solid var(--white);
}

@media (max-width: 36rem) {
  .modal {
    width: 100%;
    max-width: 70%;
  }

  .modal div {
    font-size: 2rem;
  }
}
