.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--header-bg);
  box-shadow: 70px 17px 62px rgba(0, 0, 0, 0.1);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.main-nav__block {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav__logo {
  max-width: fit-content;
}

.main-nav__logo:focus {
  border: none;
  outline: none;
  box-shadow: var(--box-shadow);
}

.main-nav__logo:hover .logo__name {
  color: var(--light-blue-100);
  transition: color 0.3s ease-in;
}

.main-nav__logo:hover .logo__name--second {
  color: var(--white);
  opacity: 0.8;
  transition: color 0.3s ease-in;
}

.main-nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 56.25em) {
  .main-nav {
    padding: 2rem 2rem;
  }
}
