.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.nav-list__item {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
