.carousel__inner {
  position: relative;
  display: flex;
  gap: 50px;
  padding: 4px 10px;
  margin-bottom: 25px;
  scroll-padding: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.carousel__controls {
  display: flex;
  gap: 25px;
  padding-left: 0.5rem;
}

.carousel__btn_prev,
.carousel__btn_next {
  display: flex;
  border-radius: 6px;
  background-color: var(--purple);
}
