.carousel__inner {
  position: relative;
  display: flex;
  gap: 9rem;
  padding: 4px 10px;
  margin-bottom: 25px;
  scroll-padding: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.carousel__controls {
  display: flex;
  gap: 25px;
  padding-left: 0.5rem;
}

.carousel__btn_prev,
.carousel__btn_next {
  display: flex;
  border-radius: var(--border-rs);
  background-color: #0062b9;
}

.carousel__btn_prev:hover,
.carousel__btn_next:hover {
  background-color: var(--purple-hover);
}


@media (max-width: 1286px) {
  .carousel__inner {
    gap: 2.7rem;
  }
}