.promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80rem;
  max-height: 120rem;
  height: 100vh;
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
}

.promo__content{
  max-width: 80rem;
  margin: 0 auto;
}

.promo__greeting {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
}

.promo__greeting span:first-child {
  display: inline-block;
  margin-right: 20px;
}

.promo__slogan {
  margin-bottom: 2rem;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: var(--white);
}

.promo__text {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: var(--white);
}

.promo__image-wrapper {
  position: absolute;
  top: 50%;
  left: 13%;
  max-width: 23rem;
  padding: 0.3rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.promo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.promo__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.promo__socials {
  position: absolute;
  bottom: 6rem;
  right: 20rem;
}

.promo__socials .socials {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 90rem) {
  .promo__image-wrapper {
    display: none;
  }

  .promo__socials {
    bottom: 6%;
    right: 25%;
    transform: translate(-50%, -50%);
  }

  .promo__socials .socials {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 940px) {
  .promo__content {
    width: 92%;
    padding: 8rem 0 6rem 0;
    transform: translate(0, 0);
  }
}


@media only screen and (max-width: 56.25em) {
  .promo__greeting span {
    display: block;
  }

  .promo__btns {
    flex-direction: column;
  }

  .promo__socials {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .promo {
    height: auto;
    min-height: 70rem;
  }

  .promo__greeting {
    font-size: 5rem;
  }

  .promo__content {
    padding: 0;
  }

  .promo__slogan {
    font-size: 16px;
    text-align: initial;
  }

  .promo__text {
    font-size: 16px;
    text-align: initial;
  }

  .promo__mouse-scroll-cont {
    display: none;
  }
}

@media screen and (max-width: 509px) {
  .promo__greeting {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 26.5em) {
  .promo__greeting {
    font-size: 3rem;
  }

  button.btn--big {
    display: none;
  }
}
