/* promo */
.promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80rem;
  max-height: 120rem;
  height: 100vh;
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
}

.promo__content {
  max-width: 90rem;
  width: 92%;
}

.promo__title {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: var(--white);
}

.promo__text {
  max-width: 80rem;
  margin: 3rem auto 0 auto;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.6;
  color: var(--white);
}

.promo__image-wrapper {
  position: absolute;
  top: 50%;
  left: 13%;
  max-width: 23rem;
  padding: 0.3125rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.promo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.promo__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.promo__socials {
  position: absolute;
  bottom: 6rem;
  right: 20rem;
}

.promo__socials .socials {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 90rem) {
  .promo__image-wrapper {
    display: none;
  }

  .promo__socials {
    bottom: 6%;
    right: 25%;
    transform: translate(-50%, -50%);
  }

  .promo__socials .socials {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 56.25em) {
  .promo__btns {
    flex-direction: column;
  }

  .promo__socials {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .promo {
    height: auto;
  }

  .promo__content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }

  .promo__title {
    font-size: 4rem;
  }

  .promo__text {
    font-size: 2rem;
  }

  .promo__mouse-scroll-cont {
    display: none;
  }
}
