.skill__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  min-width: 148px;
  padding: 1rem 1rem;
  border: 2px solid var(--color-blue-700);
  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
}

.skill__card-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-blue-700);
}

.skill__card-icon svg {
  width: 26px;
  height: 26px;
  color: var(--color-black);
}

.skill__text {
  margin-right: 1rem;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: var(--border-radius-s);
  color: var(--color-gray-500);
}

.skill__count {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-blue-700);
}

@media screen and (max-width: 600px) {
  .skill__card {
    width: 100%;
    min-width: initial;
  }

  .skill__left {
    display: flex;
    gap: 1rem;
  }
}