.skill__card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: var(--border-radius-s);
  background-color: var(--color-gray-200);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 500ms;
  box-shadow: none;
}

.skill__card:hover {
  cursor: pointer;
  border: 2px solid var(--color-blue-500);
  box-shadow: var(--box-shadow);
  transition: all 0.5s ease-in-out;
}

.skill__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill__card-icon svg {
  width: 40px;
  height: 40px;
}

.skill__card-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-blue-700);
}

.skill__count {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-blue-700);
}

@media screen and (max-width: 375px) {
  .skill__card {
    gap: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .skill__left {
    gap: 0.5rem;
  }
}
