.skill__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  align-items: center;
  width: calc(100% - 14px);
  min-width: 146px;
  padding: 1rem;
  background-color: var(--color-gray-200);
  box-shadow: none;
}

.skill__card-icon svg {
  width: 77px;
  height: 77px;
}

.skill__card-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-blue-700);
}

@media screen and (max-width: 375px) {
  .skill__card {
    flex-direction: row;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid var(--color-blue-700);
    border-radius: var(--border-radius-s);
  }

  .skill__left {
    gap: 0.5rem;
  }

  .skill__card-icon svg {
    width: 60px;
    height: 60px;
  }
}
