/* Footer */

.main-footer {
  background: #000;
  color: #fff;
}

.main-footer__upper {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;
}

.main-footer__row-1 {
  order: 2;
}

.main-footer__row-2 {
  width: 40%;
  order: 1;
  max-width: 50rem;
}

.main-footer__heading-sm {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-footer__short-desc {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #eee;
}

.main-footer__social-cont {
  margin-top: 2rem;
}

.main-footer__icon {
  margin-right: 1rem;
  width: 2.5rem;
}

.main-footer__icon--mr-none {
  margin-right: 0;
}

.main-footer__lower {
  padding: 4rem 0;
  font-size: 1.2rem;

  /* /* text-align: left; */
  text-align: center;
  color: #eee;
  border-top: 1px solid #444;
}

.main-footer__lower a {
  display: inline-block;
  margin-left: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.main-footer__social {
  display: flex;
  column-gap: 1.875rem;
  align-items: center;
}

.social__item {
  width: 4.5rem;
}


@media only screen and (max-width: 37.5em) {
  .main-footer__upper {
    display: block;
  }
}

@media only screen and (max-width: 56.25em) {
  .main-footer__upper {
    padding: 6rem 0;
  }

  .main-footer__row-1 {
    margin-bottom: 5rem;
  }

  .main-footer__row-2 {
    width: 100%;
  }

  .main-footer__lower {
    padding: 3.5rem 0;
  }
}
