.socials {
  display: flex;
  gap: 0.5rem;
}

.socials__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  display: flex;
  font-size: 28px;
  line-height: 34px;
  color: var(--color-white);
  text-decoration: none;
  transition: transform 0.35s ease, opacity 0.5s ease;
  border-radius: var(--border-radius-s);
}

.socials__link--blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-white);
  background-color: var(--color-blue-700);
  border-radius: 50%;
  text-decoration: none;
}

.socials__link:hover {
  transform: translateY(-2px) scale(1.02);
}

.socials__link:focus {
  outline: 2px solid var(--color-white);
}

@media screen and (max-width: 768px) {
  .socials__link--blue {
    font-size: 20px;
    line-height: 26px;
  }
}
