.projects__list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-card__item.project-card__item--reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
  .projects__list {
    gap: 4rem;
  }

  .project-card__item.project-card__item--reversed {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .projects__list {
    gap: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .projects__list {
    gap: 2rem;
  }
}
