.projects__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 380px));
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 1874px) {
  .projects__list {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }
}

@media screen and (max-width: 688px) {
  .projects__list {
    grid-template-columns: 1fr;
    justify-items:center;
  }
}