.projects__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 380px));
  column-gap: 5rem;
  row-gap: 3rem;
}

@media screen and (max-width: 1874px) {
  .projects__list {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

@media screen and (max-width: 688px) {
  .projects__list {
    grid-template-columns: 1fr;
    justify-items:center;
  }
}