.likes {
  position: relative;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--light-blue-100);
  cursor: pointer;
}

.likes__count {
  position: absolute;
  top: 0;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 3px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--light-blue-100);
  border-radius: 50%;
}

@media only screen and (max-width: 36.25em) {
  .likes {
    display: none;
  }
}