.scroll-to {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-blue-700);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.scroll-to:focus-visible {
  box-shadow: 0 0 0 4px rgba(var(--color-blue-700), 0.6);
  outline: none;
}

@media screen and (max-width: 375px) {
  .scroll-to {
    bottom: 2rem;
    right: 1rem;
  }
}
