/* Dark mode btn */
.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 58px;
  height: 29px;
  padding: 0.3rem;
  border-radius: 3rem;
  background-color: var(--light-blue-100);
}

.dark-mode-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.2s ease-in;
  transform: translate(-50%, -50%);
}

.dark-mode-btn--active::before {
  left: 43px;
}

.dark-mode-btn__icon {
  position: relative;
  width: 2rem;
  font-size: 2rem;
  line-height: 1.4;
  color: var(--light-blue-100);
}

.dark-mode-btn__icon--moon {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--white);
}

.dark-mode-btn--active .dark-mode-btn__icon--moon {
  z-index: 9;
  color: var(--light-blue-100);
}

@media only screen and (max-width: 56.25em) {
  .dark-mode-btn {
    display: none;
  }
}

