.skills {
  margin-bottom: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--color-gray-600);
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
}

.skills__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.skills__list {
  display: flex;
  gap: 2rem;
}

.skills__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-blue-700);
}

.skills__text:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .skills {
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .skills__list {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .skills {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 358px) {
  .skills__list {
    gap: 1rem;
  }
}
