/* skills*/
.skills {
  padding: 12rem 0;
  background-color: var(--grey);
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

.skills__left {
  display: flex;
  flex-direction: column;
}

.skills__left-heading {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--deep-black);
}

.skills__right-heading {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--deep-black);
}

.skills__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills__text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.7;
  color: grey;
}

.skills__text:not(:last-child) {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .skills__wrapper {
    gap: 1.5rem;
  }
}
