.skills {
  margin-bottom: 6rem;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills__left {
  display: flex;
  flex-direction: column;
}

.skills__left-heading {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: var(--color-blue-700);
}

.skills__right-heading {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: var(--color-blue-700);
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-blue-700);
}

.skills__text:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .skills {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .skill__card {
    width: 100%;
    min-width: initial;
  }
}

@media only screen and (max-width: 56.25em) {
  .skills__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 36rem) {
  .skills {
    margin-bottom: 4rem;
  }

  /* .skills__wrapper {
    gap: 6rem;
  } */
}

@media screen and (max-width: 375px) {
  .skills {
    margin-bottom: 2rem;
  }
}
