.about__image-block {
  position: relative;
  mix-blend-mode: lighten;
}

.about__image-wrapper {
  width: 498px;
  height: 498px;
}

.about__image {
  object-fit: contain;
  border-radius: 40%;
  filter: grayscale(80%);
}

.about__svg {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .about__image-wrapper {
    width: 298px;
    height: 298px;
  }
}