.about__image-block {
  position: relative;
  mix-blend-mode: lighten;
}

.about__image {
  filter: grayscale(34%);
}

.about__svg {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .about__image-wrapper {
    width: 298px;
    height: 298px;
  }
}