.breadcrumbs,
.item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link,
.curent {
  font-size: 18px;
  line-height: 30px;
}

.curent {
  /* color: var( --deep-black-100); */
  color: var(--light-blue-200);
}

.icon {
  height: 20px;
  width: 20px;
}

.link {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--light-blue-100);
}

.link:hover {
  color: var(--light-blue-200);
}

.link:focus {
  opacity: 0.8;
  color: var(--light-blue-200);
}

.link:active {
  opacity: 0.6;
  color: var(--light-blue-200);
}

@media screen and (max-width: 768px) {
  .link,
  .curent {
    font-size: 14px;
    line-height: 20px;
  }
}
