/* /* .nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
} */
/*
.nav-list__link {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-blue-700);
  transition: color 0.3s, opacity 0.3s;
} */

/* .nav-list__link:hover,
.nav-list__link:focus-visible,
.nav-list__link--active {
  opacity: 0.7;
}

.nav__toggler {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 40%;
    height: 100vh;
    flex-direction: column;
    gap: 0;
    padding: 6rem 2rem 2rem;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  } */

/* .nav__toggler {
    display: block;
  }

  .nav__toggler-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .nav-list__link {
    font-size: 20px;
    line-height: 26px;
    padding: 1rem 0;
    border-bottom: none;
  }

  .nav-list__active {
    transform: translateX(0);
  }

  .nav__toggler div {
    width: 30px;
    height: 2px;
    background-color: var(--color-blue-700);
    transition: all 0.5s ease-in;
  }

  .nav__toggler div:not(:last-child) {
    margin-bottom: 6px;
  }

  Анимация гамбургера
  .nav__toggler.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .nav__toggler.toggle .line2 {
    opacity: 0;
  }

  .nav__toggler.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}

/* @media screen and (max-width: 675px) {
  .nav-list {
    width: 100%;
    max-width: 100%;
  }
}  */
