.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list__link {
  position: relative;
  display: inline-block;
  padding: 2.2rem 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-blue-700);
  transition: color 0.3s;
}

.nav-list__link:hover {
  opacity: 0.6;
  transition: color 0.5s ease-in;
}

.nav-list__link::before {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 76%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-blue-300);
}

.nav-list__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  background-color: var(--color-blue-700);
  transform: none;
}

.nav__toggler div {
  width: 3rem;
  height: 3px;
  margin: 5px;
  background-color: var(--color-blue-700);
  transition: all 0.5s ease-in;
}

.nav__toggler {
  display: none;
  cursor: pointer;
}

.nav-list__active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

@media only screen and (max-width: 56.25em) {
  .nav__toggler {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    display: block;
    text-align: right;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .nav-list__link:first-child {
    border-top: 1px solid #eee;
  }

  .nav-list__link::before {
    display: none;
  }

  .nav-list__link {
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 3rem;
    font-size: 1.8rem;
    border-bottom: 1px solid #eee;
  }

  .nav-list.nav-list__active {
    top: 100%;
    transform: translateX(0);
  }

  .nav-list__link--active::before {
    display: none;
  }
}
