.nav-mobile {
  display: none;
}

.nav-mobile__list {
  display: grid;
  gap: 0.5rem;
}

.nav-mobile__item {
  width: 100%;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-blue-700);
}

.nav-mobile__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  font-family: var(--font-headings);
  font-size: 18px;
  line-height: 24px;
  border-radius: 0.75rem;
}

.nav-mobile__title {
  display: flex;
  gap: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-blue-700);
}

.nav-mobile__icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }

  .nav-mobile__buttons {
    display: flex;
    align-items: center;
    gap: 0.45rem;
  }

  .nav-mobile__lang {
    display: flex;
  }

  .nav-mobile__list {
    gap: 1.5rem;
  }

  .nav-mobile__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-700);
    border-radius: var(--border-radius-s);
  }

  .nav-mobile__wrapper {
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    height: 90vh;
    padding: 2rem;
    padding-top: 2rem;
    background-color: var(--color-white);
  }

  .nav-mobile__icon {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 375px) {
  .nav-mobile__wrapper {
    top: 4.3rem;
    height: 65vh;
    padding: 0;
    padding-top: 2.2rem;
    align-items: center;
    border-top: 1px solid var(--color-blue-700);
    border-bottom: 1px solid var(--color-blue-700);
  }

  .nav-mobile__list {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-mobile__hamburger {
    height: 40px;
  }
}
