.header {
  width: 100%;
  padding: 2rem 2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 200ms;
  background-color: var(--color-white);
  box-sizing: border-box;
}

.header--bg {
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 253, 253, 0.961);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem 1rem;
  }

  .nav__wrapper {
    display: flex;
  }
}

@media screen and (max-width: 475px) {
  .header {
    padding: 1rem 1rem;
  }
}