.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: fit-content;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-s);
  transition: max-height 0.4s ease, box-shadow 0.3s ease;
  will-change: max-height;
}

.services__item-text {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  color: transparent;
  transition: all 0.3s ease;
}


.services__item.services__expanded .services__description {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

.services__item.services__expanded {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.services__item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__subheading {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-blue-700);
}

.services__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.3s ease;
  color: var(--color-blue-700);
}

.services__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-blue-700);
}

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 8px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
  transition: background-color 0.3s ease;
}

.services__icon:hover {
  background-color: var(--color-blue-300);
}

.services__more {
  display: flex;
  max-width: fit-content;
  padding-bottom: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-blue-700);
  border-bottom: 1px solid var(--color-blue-700);
  background-color: var(--color-white);
  cursor: pointer;
  transition: border-bottom 0.5s ease-in-out;
}

.services__more:hover {
  opacity: 0.7;
  color: var(--color-blue-300);
  border-bottom: 1px solid transparent;
}

.text-outline {
  -webkit-text-stroke: 1px var(--color-blue-700);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .services__item {
    flex: 0 0 calc(50% - 2rem);
    width: auto;
  }

  .services__description {
    max-width: 635px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .services__description {
    max-width: 497px;
  }
}

@media screen and (max-width: 591px) {
  .services__description {
    max-width: 397px;
  }
}

@media screen and (max-width: 514px) {
  .services__description {
    max-width: 297px;
  }
}


@media screen and (max-width: 396px) {
  .services__item {
    padding: 0;
    box-shadow: none;
  }
  .services__description {
    max-width: 197px;
    font-size: 16px;
    line-height: 22px;
  }

  .services__item.services__expanded .services__description {
    max-width: 255px;
  }
}

