.services__item {
  display: flex;
  flex-direction: column;
  /* flex: 1 1; */
  gap: 2rem;
  max-height: 237px;
  padding: 4rem;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--light-blue-100);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.services__item--short {
  max-height: max-content;
}

.services__item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__item-block:hover .services__item-text,
.services__item-block:focus .services__item-text {
  -webkit-text-stroke: 1px var(--light-blue-200);
  transition: all 0.5s ease-in-out;
}

.services__item-text {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  color: transparent;
}

.services__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--light-blue-100);
  border-radius: 50%;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.services__arrow .services__arrow-icon:hover {
  transform: rotate(-45deg);
}

.services__arrow-icon {
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--white);
}

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 8px;
  border-radius: var(--border-rs);
  background-color: var(--light-blue-100);
}

.services__subheading {
  font-size: 1.7rem;
  line-height: 1.4;
}

.services__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 1.4;
}

.services__item.services__item--short .services__description {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

.services__more {
  display: flex;
  max-width: fit-content;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--light-blue-100);
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
}

.services__more:hover {
  opacity: 0.7;
  text-decoration-line: none;
}

.text-outline {
  -webkit-text-stroke: 1px var(--light-blue-100);
}

@media screen and (max-width: 1024px) {
  .services__item {
    flex: initial;
    width: 50%;
    gap: 2rem;
    height: auto;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .services__item .services__description.services__description--long {
    min-height: 140px;
  }
}

@media screen and (max-width: 780px) {
  .services__item {
    width: 100%;
  }

  .services__description {
    max-width: 404px;
  }
}

@media screen and (max-width: 462px) {
  .services__description {
    max-width: 265px;
  }
}
