.services__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 238px;
  padding: 3rem;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--color-blue-700);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-s);
  overflow: hidden;
  transition: max-height 0.4s ease, box-shadow 0.3s ease;
  will-change: max-height;
}

.services__item.services__item--short {
  max-height: 1000px;
}

.services__item.services__item--short .services__description {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

.services__item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__item-block:hover .services__item-text,
.services__item-block:focus .services__item-text {
  -webkit-text-stroke: 1px var(--color-blue-300);
  transition: all 0.5s ease-in-out;
}

.services__item-text {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  color: transparent;
  transition: all 0.3s ease;
}

.services__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-blue-700);
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.services__arrow:hover {
  transform: scale(1.05);
  background-color: var(--color-blue-300);
}

.services__arrow-icon {
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-white);
  transition: transform 0.3s ease;
}

.services__arrow:hover .services__arrow-icon {
  transform: rotate(-45deg);
}

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 8px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-blue-700);
  transition: background-color 0.3s ease;
}

.services__icon:hover {
  background-color: var(--color-blue-300);
}

.services__subheading {
  margin: 0;
  font-size: 2rem;
  line-height: 1.4;
}

.services__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.services__more {
  display: flex;
  max-width: fit-content;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--color-blue-700);
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  cursor: pointer;
  padding: 0;
  margin-top: auto;
  transition: all 0.3s ease;
}

.services__more:hover {
  opacity: 0.7;
  text-decoration-line: none;
  color: var(--color-blue-300);
}

.text-outline {
  -webkit-text-stroke: 1px var(--color-blue-700);
}

@media screen and (max-width: 1492px) {
  .services__item {
    max-height: 209px;
  }
}

@media screen and (max-width: 1024px) {
  .services__item {
    flex: 0 0 calc(50% - 2rem);
    width: auto;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: var(--box-shadow-mobile);
    border-radius: var(--border-radius-s);
    margin: 1rem;
  }

  .services__description {
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }

  .services__more {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .services__item {
    flex: 0 0 100%;
    margin: 0.5rem 0;
    max-height: 200px;
  }

  .services__item--short {
    max-height: 800px;
  }

  .services__description {
    max-width: 100%;
  }
}

@media screen and (max-width: 602px) {
  .services__item {
    padding: 1.5rem;
    gap: 1rem;
  }

  .services__description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.8rem;
  }

  .services__more {
    display: flex;
    font-size: 1.8rem;
  }
}
