.advertisement {
  padding-bottom: 12rem;
}

.advertisement__advs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--white);
  border-radius: var(--border-rs);
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
}

@media screen and (max-width: 668px) {
  .advertisement {
    padding-bottom: 8rem;
  }

  .advertisement__advs {
    padding: 1rem;
    font-size: 2.4rem;
    text-align: center;
  }
}

@media (max-width: 36rem) {
  .advertisement {
    padding-bottom: 6rem;
  }
}
