.toggle-btn {
  position: relative;
  width: 58px;
  height: 34px;
  border: 2px solid var(--color-blue-700);
  border-radius: 99px;
  transition: backgroun-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
}

.thumb {
  font-family: var(--font-headings);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-blue-700);
}

.toggle-btn .thumb {
  position: absolute;
  left: 5px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 99px;
  background-color: var(--color-white);
  transform: translateX(0);
  transition: left 0.15s ease;
  transform: translateY(-50%);
}

.toggle-btn.toggled .thumb {
  left: calc(58px - 32px);
}

@media screen and (max-width: 375px) {
  .toggle-btn {
    width: 52px;
    border-radius: var(--border-radius-s);
  }

  .toggle-btn .thumb {
    left: 2px;
    border-radius: var(--border-radius-s);
    background-color: var(--color-blue-700);
  }

  .toggle-btn.toggled .thumb {
    left: calc(50px - 32px);
  }

  .thumb {
    color: var(--color-white);
  }
}
