.toggle-btn {
  position: relative;
  width: 58px;
  height: 34px;
  border: 2px solid var(--color-blue-700);
  border-radius: 99px;
  transition:
    backgroun-color 0.1s ease,
    border-color 0.2s ease;
  cursor: pointer;
}

.thumb {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-blue-700);
}

.toggle-btn .thumb {
  position: absolute;
  left: 5px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 99px;
  background-color: var(--color-white);
  transform: translateX(0);
  transition: left 0.15s ease;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: var(--color-blue-700);
}

.toggle-btn.toggled .thumb {
  left: calc(58px - 32px);
}
