.advantages {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  background-color: var(--color-gray-600);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.advantages__item {
  position: relative;
  flex: 1 1 calc((100% - 80px) / 7);
  padding: 24px;
  border-radius: 20px;
  border: 3px solid #E9F0F5;
}

.advantages__item-img {
  width: 56px;
  margin-bottom: 15px;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 1448px) {
  .advantages__item {
    flex: 1 1 calc((100% - 80px) / 4);
  }
}

@media screen and (max-width: 768px) {
  .advantages__item {
    flex: 1 1 calc((100% - 80px) / 2);
    padding: 1rem;
  }
}