.contacts {
  padding: 12rem 0;
  overflow: hidden;
  background: var(--gradient), url('../../assets/svg/common-bg.svg');
  background-size: cover;
  background-position: center;
}

.contacts__container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contacts__options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2.4rem;
  width: 95%;
  max-width: 80rem;
  margin: 5rem auto 0 auto;
  margin-top: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  text-align: right;
  border-radius: var(--border-rs);
}

.contacts__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  border: 1px solid transparent;
  border-radius: var(--border-rs);
  background-color: var(--purple);
}

.contacts__option:hover {
  background-color: var(--purple-hover);
  border-color: var(--accent);
}

.contacts__option h4,
.contacts__option h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.contacts__option-icon {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.contacts__option a {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 1rem;
}

/* ================= Form ==============*/

input, textarea {
  width: 100%;
  padding: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  color: var(--blackpure);
  border: 2px solid var(--purple);
  border-radius: var(--border-rs);
  background-color: transparent;
  resize: none;
}

.contacts__btn-submit {
  display: flex;
  max-width: 209px;
  height: 48px;
  padding: 12px 28px;
  border-radius: var(--border-rs);
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
}
