.project-details {
  padding: 16rem 0;
}

.project-detalis__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.project-details__cover {
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-s);
}

.project-details__desc {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.project-details__content {
  max-width: 90rem;
  margin: auto;
  padding: 8rem 0;
}

.project-detail__overview {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.3;
  color: var(--color-black);
}

.project-details__links .project-detail__overview {
  margin-bottom: 0;
}

.project-detail__text-overview {
  font-size: 1.8rem;
  line-height: 1.7;
  color: grey;
}

.project-detail__text-overview:not(:last-child) {
  margin-bottom: 2rem;
}

.project-detail__tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 7rem;
}

.project-details__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.project-detail__btn-box {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 474px) {
  .project-detail__btn-box {
    flex-direction: column;
    gap: 2rem;
  }
}
