.statistics {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media only screen and (max-width: 876px) {
  .statistics__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .statistics__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1;
    align-items: flex-start;
    gap: 1rem;
    /* padding: 1rem; */
    /* border-radius: var(--border-rs);
    box-shadow: var(--box-shadow); */
  }

  .statistics__desc {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 688px) {
  .statistics {
    padding-bottom: 8rem;
  }
}

@media (max-width: 36rem) {
  .statistics {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .statistics__list {
    grid-template-columns: 1fr;
  }

  .statistics__item {
    align-items: center;
  }
}
